@use './../mixins' as *;

/* Кнопки */
.btn {
  --btn-width: fit-content;
  --btn-height: 5.6rem;
  --btn-first-padding: 0.3rem;
  --btn-second-padding: 0.4rem;
  --btn-padding-x: 2.2rem;
  --btn-color: var(--white);
  --btn-background: var(--maroon-3);
  --btn-border-radius: 10rem;
  --btn-border-color: var(--maroon-3);
  --btn-border-width: 0.5px;

  @include md {}

  @include sm {}

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}