@use './../mixins' as *;

/* Текст внутри блока */
p {
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;

  @include md {}
}

/* Акцентирование текста цветом фуксия */
h1,
h2,
h3,
h4,
h5,
h6 {
  span {
    color: var(--maroon-3);
  }
}