@use './../mixins' as *;

.burger {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  width: 3.1rem;
  padding: 1rem 0;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  @include md {
    position: static;
    transform: unset;
    gap: 0.8rem;
  }

  &__line {
    width: 100%;
    height: 0.1rem;
    background-color: var(--white);
    transition: width 0.3s cubic-bezier(0.26, 0.89, 0.66, 1.59);
    transition: all 0.3s ease;

    &:first-child {
      margin-left: auto;
    }

    .burger:hover & {
      width: 80%;
    }

    .pp-bolotnoe & {
      background-color: var(--black);
    }

    .pp-awards & {
      background-color: var(--black);
    }
  }
}