@use './../mixins' as *;

.burger {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  width: 3.1rem;
  padding: 1rem 0;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  transition: all 0.3s ease;

  .menu-open .general-page & {
    gap: 0;
    margin-right: -0.8rem;

    @include md {
      margin-right: 0;
    }
  }

  @include md {
    position: static;
    transform: unset;
    gap: 0.8rem;
  }

  &__line {
    width: 100%;
    height: 0.1rem;
    background-color: var(--white);
    transition: width 0.3s cubic-bezier(0.26, 0.89, 0.66, 1.59);
    transition: all 0.3s ease;

    &:first-child {
      margin-left: auto;

      .menu-open .general-page & {
        transform: rotate(45deg);
      }
    }

    &:last-child {

      .menu-open .general-page & {
        transform: rotate(-45deg);
      }
    }

    .burger:hover:not(.menu-open .general-page .burger) & {
      width: 80%;
    }

    .menu-open .general-page & {
      width: 100%;
    }

    .pp-bolotnoe & {

      @include md {
        background-color: var(--black);
      }
    }

    .pp-awards & {

      @include md {
        background-color: var(--black);
      }
    }
  }
}