@use './../mixins' as *;

.about {
  width: 100%;
  height: 100%;
  max-height: 100%;
  flex-shrink: 0;
  overflow: hidden;

  background-repeat: no-repeat;
  background-size: cover;

  &::after {
    content: '';
    background-image: url(./../images/temp/bg-texture.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    mix-blend-mode: overlay;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  svg {
    height: 100%;
    object-fit: contain;
  }

  &__menu {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1.5rem;
    pointer-events: all;

    position: absolute;
    top: 50%;
    right: var(--container-padding);
    transform: translateY(-50%);

    @include md {
      display: none;
    }

    a {
      font-family: 'DrukCyr';
      font-weight: 500;
      font-size: 3rem;
      line-height: 97.5%;
      color: var(--gold);
      text-transform: uppercase;
      transition: color 0.3s ease;

      &:hover {
        color: var(--maroon-3);

        .pp-limonad & {
          color: var(--yellow);
        }
      }

      &.is__active {
        color: var(--maroon-3);

        .pp-limonad & {
          color: var(--yellow);
        }
      }
    }
  }

  &__wrapper {
    width: 100%;
    height: 100%;
    pointer-events: none;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
  }

  &__control {
    display: flex;
    width: 4.3rem;
    height: 4.9rem;
    position: absolute;
    right: calc(var(--container-padding) - 1rem);
    bottom: calc(5.8rem - 1rem);
    pointer-events: all;
    cursor: pointer;
    overflow: hidden;

    @include md {
      top: 60%;
      right: unset;
      left: var(--container-padding);
      transform: translateY(-50%);
    }

    &:hover {

      svg:first-child {
        transform: translateY(-120%);

        @include md {
          transform: translateY(0);
        }
      }

      svg:last-child {
        transform: translateY(-120%);
      }
    }

    svg {
      width: 4.3rem;
      height: 4.9rem;
      transition: all 0.3s ease;
      flex-shrink: 0;

      position: absolute;
      width: 100%;
      top: 0;
      left: 0;

      &:last-child {
        top: 120%;

        @include md {
          display: none;
        }
      }
    }
  }

  &__container {
    width: 100%;
    height: 100%;
  }

  &__content {
    display: flex;
    flex-direction: column;
  }

  &__title {
    overflow: hidden;
    flex-shrink: 0;
    width: fit-content;
    height: calc(100vh/(900/178));

    @include md {
      height: 20.5rem;
    }

    @include sm {
      height: 11.7rem;
    }

    img {
      opacity: 0;
      height: 100%;
      object-fit: contain;
    }
  }

  &__date {
    overflow: hidden;
    flex-shrink: 0;
    width: fit-content;
    height: calc(100vh/(900/162));
    margin-top: calc(100vh/(900/20));

    @include md {
      height: 9.2rem;
      margin-top: 2rem;
      position: static !important;
    }

    @include sm {
      height: 5.2rem;
      margin-top: 1rem;
    }

    img {
      opacity: 0;
      height: 100%;
      object-fit: contain;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    flex-shrink: 0;
    margin-top: calc(100vh/(900/30));

    div.char {
      opacity: 0;
    }

    @include md {
      margin-top: 3rem;
    }

    @include sm {
      max-width: 19.1rem;
      margin-top: 2rem;
    }
  }

  &__object {
    width: 100%;

    position: absolute;
    z-index: 3;

    @include sm {
      width: fit-content;
      z-index: 2;
    }

    img {
      width: auto;
      height: 100%;
      object-fit: contain;

      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }

  &--main {

    .about {

      &__bg {
        overflow: hidden;
        z-index: -100;
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        background-image: url(./../../images/temp/main-bg.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }

      &__content {
        height: 100%;
        justify-content: center;
        align-items: center;
      }

      &__logo {
        margin-bottom: 4.3rem;
      }

      &__title {
        font-family: 'DrukCyr';
        font-size: 10rem;
        font-weight: 500;
        line-height: 97.5%;
        text-transform: uppercase;
        color: var(--white);
        text-align: center;
        max-width: 60rem;

        span {
          color: var(--gold);
        }
      }
    }
  }
}

.begin {
  background-color: var(--gold-dark-2);

  @include md {
    background-image: url(./../images/temp/bg-begin.png);
  }

  &::after {
    display: none;

    @include sm {
      display: block;
    }
  }

  .about {

    &__inner {
      padding-top: calc(100vh/6.76);

      @include md {
        padding-top: 18.4rem;
      }

      @include sm {
        padding-top: 18.8rem;
      }
    }

    &__title {}

    &__object {
      bottom: calc(100vh/(900/41));
      left: 0;
      height: calc(100vh/(900/347));

      @include md {
        bottom: 6.5rem;
        margin-top: -12.2rem;
        padding-left: var(--container-padding);
        height: 65.8rem;

        top: 53rem;
        bottom: unset;
      }

      @include sm {
        height: 35.7rem;
        top: 43.7rem;
        left: unset;
        right: 0;
        margin-top: -1.2rem;
      }

      img {
        width: auto;
        height: 100%;
        object-fit: contain;
      }
    }
  }

  .magnetic {
    top: calc(100vh/2.25);
    right: calc(100vw/2.67);

    @include md {
      top: 40.1rem;
      right: 7.1rem;
    }

    @include sm {
      top: 42.4rem;
      right: 2.6rem;
    }
  }
}

.filter {

  @include md {
    background-image: url(./../images/temp/bg-filter.png);
  }

  .about {

    &__inner {
      padding-top: calc(100vh/6.76);

      @include md {
        padding-top: 16.7rem;
      }
    }

    &__title {
      position: relative;
      left: calc(100vh/((900/7) * -1));

      @include sm {
        height: 13.8rem;

        left: unset;
      }
    }

    &__date {
      position: relative;
      left: calc(100vh/((900/9) * -1));

      @include sm {
        height: 6.1rem;
        margin-top: 0.4rem;

        left: unset;
      }
    }

    &__text {
      position: relative;
      left: calc(100vh/((900/6) * -1));

      @include sm {
        left: unset;
      }
    }

    &__object {
      width: calc(100vh/(900/714));
      aspect-ratio: 1/1;
      bottom: calc(100vh/((900/30) * -1));
      right: calc(100vw/(1440/139));

      @include md {
        right: 0;
        top: 44rem;
        bottom: unset;
      }

      @include sm {
        width: 49.2rem;
        top: 38.2rem;
        right: unset;
        left: -11rem;
      }

      img {
        width: auto;
        height: 100%;
        object-fit: contain;

        @include sm {
          height: 100%;
        }
      }
    }
  }

  .magnetic {
    bottom: calc(100vh/9.09);
    left: calc(100vw/48);

    @include md {
      left: unset;
      bottom: unset;
    }

    @include sm {
      top: 37.4rem;
      right: 3.5rem;
    }
  }
}

.assortment {
  background-color: var(--gold-dark);

  @include md {
    background-image: url(./../images/temp/bg-assortment.png);
  }

  .about {

    &__inner {
      padding-top: calc(100vh/8.57);

      @include md {
        padding-top: 16.7rem;
      }
    }

    &__title {
      height: calc(100vh/(900/123.5));

      @include sm {
        height: 12rem;
      }
    }

    &__date {
      position: absolute;
      right: calc(100vw/(1440/125));
      bottom: calc(100vh/(900/69));

      @include md {
        position: static;
        height: 6rem;
      }

      @include sm {
        height: 5.9rem;
      }
    }

    &__text {
      max-width: 61.4rem;

      @include md {
        max-width: 70%;
      }

      @include sm {
        max-width: 25.6rem;
      }
    }

    &__object {
      height: calc(100vh/(900/557));
      top: calc(100vh / 2.8);
      left: calc(100vh/(900/12));

      @include md {
        height: 37.1rem;
        top: 45rem;
        left: 2rem;
        bottom: unset;
      }

      img {
        width: auto;
        height: 100%;
        object-fit: contain;
      }
    }
  }

  .magnetic {
    right: calc(100vw/2.41);
    bottom: calc(100vh/2.27);

    @include md {
      top: 37.4rem;
      right: 3.5rem;
      bottom: unset;
    }

    &__inner {
      border-color: var(--gold-light-2);
    }
  }
}

.limonad {
  background-color: #1A1A1A;

  @include md {
    background-image: url(./../images/temp/bg-limonad.png);
  }

  .about {

    &__inner {
      padding-top: calc(100vh/11.25);

      @include md {
        padding-top: 16.7rem;
      }
    }

    &__title {
      height: calc(100vh/(900/123.6));
    }

    &__date {
      position: absolute;
      left: calc(100vh/((900/5)*-1));
      bottom: calc(100vh/(900/101));
      height: calc(100vh/(900/120));

      @include md {
        height: 8rem;
      }

      @include sm {
        height: 5.9rem;
      }
    }

    &__text {
      max-width: 51.2rem;

      @include sm {
        max-width: 19.1rem;
      }
    }

    &__object {
      top: calc(100vh/(900/145));
      right: calc(100vw/(1440/164));
      width: fit-content;
      height: calc(100vh/(900/775));

      @include md {
        top: 47rem;
        height: 64.4rem;
        right: 2rem;
      }

      @include sm {
        width: 41.4rem;
        height: 41.4rem;
        right: 2rem;
        bottom: 2rem;

        top: 43.7rem;
        bottom: unset;
      }

      img {
        width: auto;
        height: 100%;
        object-fit: contain;

        @include md {
          height: 100%;
        }
      }
    }
  }

  .magnetic {
    left: calc(100vw/(1440/75));
    bottom: calc(100vh/(900/345));

    @include md {
      left: unset;
    }

    @include sm {
      top: 38.8rem;
      right: 2.1rem;
      bottom: unset;
    }

    &__inner {
      border-color: var(--gold-light-2);
    }

    &__text {
      color: var(--yellow);
    }
  }
}

.technology {
  background-color: var(--gold-dark);

  @include md {
    background-image: url(./../images/temp/bg-technology.png);
  }

  .about {

    &__inner {
      padding-top: calc(100vh/6.92);

      @include md {
        padding-top: 16.7rem;
      }
    }

    &__title {
      height: calc(100vh/(900/138.4));

      @include md {
        height: 12rem;
      }
    }

    &__text {

      @include md {
        margin-top: 3rem;
      }
    }

    &__object {
      top: calc(100vh/(900/381));
      height: calc(100vh/(900/467));
      left: calc(100vh/(900/12));

      @include md {
        width: auto;
        height: 37.9rem;
        top: 43rem;
        left: 0.2rem;
      }

      img {
        width: auto;
        height: 100%;
        object-fit: cover;

        @include sm {
          width: auto;
          height: 100%;
          object-fit: contain;
        }
      }
    }
  }

  .magnetic {
    right: calc(100vw/(1440/469));
    bottom: calc(100vh/(900/374));

    @include md {
      right: 7.1rem;
      bottom: unset;
    }

    @include sm {
      top: 30.4rem;
      right: 3.5rem;
    }

    &__inner {
      border-color: var(--gold-light-2);
    }
  }
}

.info {

  background-color: var(--graphite-2);

  @include md {
    background-image: url(./../images/temp/bg-info.png);
  }

  .about {

    &__inner {
      padding-top: calc(100vh/20.45);

      @include md {
        padding-top: 16.7rem;
      }
    }

    &__title {

      @include md {
        width: 100%;
        height: auto;
      }

      img {

        @include md {
          width: 100%;
          height: auto;
          object-fit: cover;
        }
      }
    }

    &__text {
      max-width: 107.6rem;

      @include sm {
        max-width: 70.5%;
      }
    }

    &__object {
      height: calc(100vh/(900/503));
      left: calc(100vw/(1440/28));
      bottom: calc(100vh/(900/23));
      bottom: 0;

      @include md {
        width: auto;
        height: 60.2rem;
        top: 36rem;
        bottom: unset;
        left: -26.4rem;
      }

      @include sm {
        top: 27.2rem;
        bottom: unset;
      }

      img {
        width: auto;
        height: 100%;
        object-fit: cover;

        @include md {
          width: auto;
          height: 100%;
        }

        @include sm {}
      }
    }
  }

  .magnetic {
    right: calc(100vw/(1440/412));
    bottom: calc(100vh/(900/353));

    @include md {
      top: 40.1rem;
      right: 7.1rem;
      bottom: unset;
    }

    @include sm {
      top: 30.4rem;
      right: 3.5rem;
    }

    &__inner {
      border-color: var(--gold-light-2);
    }
  }
}

.bolotnoe {
  background-color: var(--maroon-3);

  @include md {
    background-image: url(./../images/temp/bg-bolotnoe.png);
  }

  .about {

    &__inner {
      padding-top: calc(100vh/7.08);

      @include md {
        padding-top: 16.7rem;
      }
    }

    &__title {
      height: calc(100vh/(900/121.5));

      @include sm {
        // height: 12rem;
        width: calc(100% - 4.2rem);
        height: auto;
      }


      img {

        @include sm {
          width: 100%;
          height: auto;
          object-fit: cover;
        }
      }
    }

    &__date {
      height: calc(100vh/(900/188));
      margin-top: calc(100vh/(900/40));
      margin-left: calc(100vw/(1440/20));

      @include md {
        height: 9.2rem;
        margin-top: 3rem;
        margin-left: 0;
      }

      @include sm {
        margin-top: 2rem;
        margin-left: 0.6rem;
        // height: 6.4rem;
        width: 64.5%;
        height: auto;
      }
    }

    &__object {
      width: fit-content;
      height: calc(100vh/(900/437));
      top: calc(100vh/(900/431));
      left: calc(100vw/(1440/38));
      z-index: 3;

      @include md {
        top: 40rem;
      }

      @include sm {
        height: 43.7rem;
        top: 38.9rem;
        bottom: unset;
        left: -18rem;
      }

      img {
        width: auto;
        height: 100%;
        object-fit: cover;

        @include md {
          object-fit: contain;
        }
      }
    }
  }

  .magnetic {
    right: calc(100vw/(1440/469));
    bottom: calc(100vh/(900/374));

    @include md {
      top: 40.1rem;
      right: 7.1rem;
      bottom: unset;
    }

    @include sm {
      top: 27.3rem;
      right: var(--container-padding);
    }

    &__inner {
      border-color: var(--gold-dark);
    }

    &__text {
      color: #1A1A1A;
    }
  }
}

.awards {
  background-color: var(--maroon);

  @include md {
    background-image: url(./../images/temp/bg-awards.png);
  }

  .about {

    &__inner {
      padding-top: calc(100vh/20.45);

      @include md {
        padding-top: 16.7rem;
      }
    }

    &__title {

      @include sm {
        height: 15.4rem;
      }
    }

    &__text {
      max-width: 107.6rem;
      color: var(--maroon);

      @include sm {
        margin-top: 1.6rem;
        max-width: 25.5rem;
      }
    }

    &__object {
      height: calc(100vh/(900/736));
      left: calc(100vw/((1440/61)*-1));
      top: calc(100vh/(900/322));

      @include md {
        width: auto;
        height: 52.1rem;

        top: 45rem;
        left: -3.6rem;
      }

      @include sm {
        width: 55.5rem;
        top: 40.8rem;
      }

      img {
        width: auto;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .magnetic {
    right: calc(100vw/(1440/412));
    bottom: calc(100vh/(900/353));

    @include md {
      top: 48.1rem;
      right: 7.1rem;
      bottom: unset;
    }

    @include sm {
      top: 27.3rem;
      right: var(--container-padding);
    }

    &__inner {
      border-color: var(--gold-light-2);
    }
  }
}

.partners {
  background-color: #2E2E2E;

  @include md {
    background-image: url(./../images/temp/bg-partners.png);
  }

  .about {

    &__inner {
      padding-top: calc(100vh/11.688);

      @include md {
        padding-top: 16.7rem;
      }
    }

    &__title {
      height: calc(100vh/(900/187));

      @include md {
        height: 12.6rem;
      }
    }

    &__date {
      height: calc(100vh/(900/180));
      margin-top: calc(100vh/(900/40));
      margin-left: calc(100vw/(1440/40));

      @include md {
        height: 8rem;
        margin-top: 2rem;
        margin-left: 0;
      }

      @include sm {
        height: 4.8rem;
        margin-top: 1rem;
      }
    }

    &__text {
      max-width: 50rem;

      @include sm {
        margin-top: 1.6rem;
        max-width: 23.1rem;
      }
    }

    &__object {
      height: calc(100vh/(900/577));
      right: calc(100vw/(1440/218));
      width: fit-content;
      top: calc(100vh/(900/299));

      @include md {
        width: max-content;
        height: 70rem;

        top: 48rem;
        left: 50%;
        right: unset;
        transform: translateX(-50%);
      }

      @include sm {
        top: 43.7rem;
        // bottom: -5rem;
        height: 48.7rem;
      }

      img {
        width: auto;
        height: 100%;
        object-fit: contain;
      }
    }
  }

  .magnetic {
    left: calc(100vw/(1440/31));
    bottom: calc(100vh/(900/99));

    @include md {
      top: 40.1rem;
      right: 7.1rem;
      left: unset;
      bottom: unset;
    }

    @include sm {
      top: 35rem;
      right: 3.5rem;
    }

    &__inner {
      border-color: var(--gold-light-2);
    }
  }
}