@use './../mixins' as *;

.begin {
  background-color: var(--gold-dark-2);

  @include md {
    padding-top: 18.4rem;
  }

  &::after {
    display: none;

    @include sm {
      display: block;
    }
  }

  .page {

    &__date {
      max-width: 59.9rem;

      @include md {
        max-width: 33.5rem;
      }

      @include sm {
        max-width: 19.1rem;
      }
    }

    &__text {


    }

    &__object {
      max-width: 126.4rem;
      bottom: 4.1rem;
      left: 0;

      @include md {
        // position: relative;
        // bottom: unset;

        margin-top: -12.2rem;
        padding-left: var(--container-padding);
      }

      @include sm {
        margin-top: -1.2rem;
      }
    }
  }

  .magnetic {
    top: calc(100vh/2.25);
    right: calc(100vw/2.67);

    @include md {
      top: unset;
      right: 2.6rem;
      bottom: 34rem;
    }
  }
}