@use './../mixins' as *;

.begin {
  padding-top: 13.3rem;
  background-color: var(--gold-dark-2);

  @include md {
    padding-top: 18.4rem;
  }

  &__inner {}

  &::after {
    display: none;

    @include sm {
      display: block;
    }
  }

  .page {

    &__date {
      max-width: 59.9rem;

      @include md {
        max-width: 33.5rem;
      }

      @include sm {
        max-width: 19.1rem;
      }
    }

    &__text {

      @include sm {
        max-width: 19.1rem;
      }
    }

    &__object {
      max-width: 126.4rem;

      @include md {
        position: relative;
        bottom: unset;

        margin-top: -12.2rem;
        padding-left: var(--container-padding);
      }

      @include sm {
        margin-top: -1.2rem;
      }
    }
  }
}