@use './../mixins' as *;

.footer {
  height: var(--footer-height);
  height: fit-content;
  padding: 0.5rem 0;
  background-color: var(--gold);
  transition: all 0.3s linear;

  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 200;

  .menu-open & {
    transform: translateY(100%);
  }

  .footerAnimStart {

    .footer__top--center::before {
      height: 100%;
    }

    .footer__top--center::after {
      height: 100%;
    }

    .footer__bottom::before {
      width: 100%;
    }
  }

  .footer__top--center {
    position: relative;

    &::before {
      content: "";
      width: 0.1rem;
      height: 0;
      position: absolute;
      top: 0;
      left: 0;
      transition: height 1s linear;
      background-color: var(--maroon-3-30);

      @include xlg {
        display: none;
      }
    }

    &::after {
      content: "";
      width: 0.1rem;
      height: 0;
      position: absolute;
      top: 0;
      right: 0;
      transition: height 1s linear;
      background-color: var(--maroon-3-30);

      @include xlg {
        display: none;
      }
    }
  }

  .footer__bottom {
    position: relative;

    &::before {
      content: "";
      width: 0;
      height: 0.1rem;
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      transition: width 1.5s linear;
      background-color: var(--maroon-3-30);

      @include md {
        transition-duration: 1s;
      }
    }
  }

  @include md {
    display: none;
  }

  &__container {
    --container-padding: 1.5rem;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem 2rem;
  }

  &__copyright {
    width: fit-content;

    font-weight: 300;
    font-size: 1rem;
    line-height: 126%;
    color: var(--maroon-2);
  }

  &__made {
    font-weight: 400;
    font-size: 1rem;
    line-height: 125.69%;
    text-align: center;
    color: var(--maroon-2);

    a {
      text-decoration: underline;
    }
  }

  &__call {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 3rem;

    @include md {
      margin-top: 2rem;
    }

    a {
      font-style: normal;
      font-weight: 700;
      font-size: 1.5rem;
      line-height: 120%;
      color: var(--gold);
      text-decoration: none;
      transition: color .3s ease-in-out;

      &:hover {
        color: var(var(--gold-dark));
      }
    }

    a.address {
      text-decoration: none;
      transition: color .3s ease-in-out;

      &:hover {
        color: var(var(--gold-dark));
      }
    }
  }
}