@use './../mixins' as *;

.footer {
  height: var(--footer-height);
  padding: 0.5rem 0;
  background-color: var(--gold);
  transition: all 0.3s linear;

  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 200;

  .menu-open & {
    transform: translateY(100%);
  }

  @include md {
    display: none;
  }

  &__container {
    --container-padding: 1.5rem;
  }

  &__copyright {
  width: fit-content;

  font-weight: 300;
  font-size: 1rem;
  line-height: 126%;
  color: var(--maroon-2);
}
}