@use './../mixins' as *;

html {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
  --refRes: 1440;

  font-size: calc(100vw / var(--refRes) * 10);
  scroll-behavior: smooth;

  @include md {
    font-size: 62.5%;
  }
}

body {
  min-width: 320px;
  background-color: var(--maroon);

  font-family: var(--font-family);
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 150%;
  color: var(--gold-light-2);

  @include md {
    font-size: 1.3rem;
    line-height: 120%;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 0 auto;
  padding-left: var(--header-width);

  @include md {
    padding-left: 0;
  }

  .pleloaderShow & {
    pointer-events: none;
  }

  .about-page & {
    width: 100%;
    height: 100%;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
  }
}

.footer {
  flex: 0 0 auto;
}

section {
  min-height: clamp(100%, 100vh, 100vh);
  height: auto;
  background-color: var(--graphite);
  overflow-x: hidden;
  overflow-y: hidden;

  position: relative;
  z-index: 1;

  @include md {
    min-height: auto;
    padding-bottom: 6.5rem;
  }

  @include md {
    padding-bottom: 8rem;
  }
}

a {
  color: inherit;
  transition: all 0.3s ease;
}

img {
  width: auto;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}