@use './../mixins' as *;

[class^="__inner"],
[class*="__inner"] {
  height: 100%;
  position: relative;
  z-index: 3;
}

/* Главный общий блок */
.page {
  width: 100%;
  height: 100%;
  max-height: 100%;
  flex-shrink: 0;
  overflow: hidden;

  background-repeat: no-repeat;
  background-size: cover;

  &::after {
    content: '';
    background-image: url(./../images/temp/bg-texture.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    mix-blend-mode: overlay;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  svg {
    height: 100%;
    object-fit: contain;
  }

  &__wrapper {
    width: 100%;
    height: 100%;
    pointer-events: none;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
  }

  &__control {
    display: flex;
    width: 4.3rem;
    height: 4.9rem;
    position: absolute;
    right: calc(var(--container-padding) - 1rem);
    bottom: calc(5.8rem - 1rem);
    pointer-events: all;
    cursor: pointer;
    overflow: hidden;

    @include md {
      top: 60%;
      right: unset;
      left: var(--container-padding);
      transform: translateY(-50%);
    }

    &:hover {

      svg:first-child {
        transform: translateY(-120%);

        @include md {
          transform: translateY(0);
        }
      }

      svg:last-child {
        transform: translateY(-120%);
      }
    }

    svg {
      width: 4.3rem;
      height: 4.9rem;
      transition: all 0.3s ease;
      flex-shrink: 0;

      position: absolute;
      width: 100%;
      top: 0;
      left: 0;

      &:last-child {
        top: 120%;

        @include md {
          display: none;
        }
      }
    }
  }

  &__container {
    width: 100%;
    height: 100%;
  }

  &__content {
    display: flex;
    flex-direction: column;
  }

  &__title {
    overflow: hidden;
    flex-shrink: 0;
    width: fit-content;
    height: 17.8rem;

    @include md {
      height: 20.5rem;
    }

    @include sm {
      height: 11.7rem;
    }

    img {
      opacity: 0;
      height: 100%;
      object-fit: contain;
    }
  }

  &__date {
    overflow: hidden;
    flex-shrink: 0;
    width: fit-content;
    height: 16.2rem;
    margin-top: 2rem;

    @include md {
      height: 9.2rem;
      position: static !important;
    }

    @include sm {
      height: 5.2rem;
      margin-top: 1rem;
    }

    img {
      opacity: 0;
      height: 100%;
      object-fit: contain;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    flex-shrink: 0;
    margin-top: 3rem;

    div.char {
      opacity: 0;
    }

    @include sm {
      max-width: 19.1rem;
      margin-top: 2rem;
    }
  }

  &__object {
    width: 100%;

    position: absolute;
    z-index: 3;

    @include sm {
      width: fit-content;
      z-index: 2;
    }

    img {
      width: auto;
      height: 100%;
      object-fit: contain;

      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }
}

/* Стиль магнитной кнопки */
.magnetic {
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  width: fit-content;
  cursor: pointer;

  position: absolute;

  @include md {
    top: 40.1rem;
    right: 7.1rem;
  }

  @include sm {
    top: 38.8rem;
    right: var(--container-padding);
  }

  &__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16rem;
    height: 16rem;
    border-radius: 50%;
    border: 0.2rem solid var(--maroon-3);
    transition: transform 0.15s linear, color .3s ease-in-out, border-color .3s ease-in-out;
    will-change: transform;

    @include md {
      width: 11rem;
      height: 11rem;
    }

    .pp-begin & {
      border-color: var(--maroon-3);
    }

    .pp-filter & {
      border-color: var(--gold);
    }
  }

  &__text {
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 120%;
    text-align: center;
    text-transform: uppercase;
    color: var(--gold-light-2);
    transition: transform 0.25s linear;
    will-change: transform;

    @include md {
      font-size: 1.2rem;
    }
  }

  &__hit {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 4;
    width: 24rem;
    height: 24rem;
    border-radius: 50%;
    overflow: hidden;
    transform: translate(-50%, -50%);

    @include md {
      width: 18rem;
      height: 18rem;
    }
  }
}

/* Стили для блока ограничения */
.restriction {
  position: absolute;
  top: 4rem;
  right: var(--container-padding);

  @include md {
    display: none;
  }

  svg {
    display: block;
    width: 4.4rem;
    height: 3.7rem;
    fill: var(--graphite);
    transition: all 0.3s ease;

    .pp-filter & {
      fill: #585858;
    }

    .pp-assortment & {
      fill: var(--gold);
    }

    .pp-limonad & {
      fill: var(--gold);
    }

    .pp-technology & {
      fill: var(--gold);
    }

    .pp-info & {
      fill: var(--gold);
    }

    .pp-bolotnoe & {
      fill: var(--gold);
    }

    .pp-awards & {
      fill: var(--gold);
    }

    .pp-partners & {
      fill: #585858;
    }
  }
}

/* Стили масок */
.mask {
  width: 140.3rem;
  height: 126.2rem;

  position: absolute;
  top: -6.6rem;
  right: 13.5rem;
  bottom: 0;
  z-index: 1;

  @include md {
    display: none;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &--info {
    width: 177.5rem;
    height: 197.4rem;

    top: -4.2rem;
    right: unset;
    bottom: unset;
    left: 23.3rem;
  }

  &--bolotnoe {
    width: 155.5rem;
    height: 168.2rem;

    top: -24.7rem;
    right: unset;
    bottom: unset;
    left: -53.1rem;
  }

  &--awards {
    width: 228.8rem;
    height: 216.7rem;

    top: -111rem;
    right: -73.6rem;
    bottom: unset;
  }
}

/* Меню стр. А нас */
.main {

  &__menu {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1.5rem;
    pointer-events: all;

    position: absolute;
    top: 50%;
    right: var(--container-padding);
    transform: translateY(-50%);

    @include md {
      display: none;
    }

    a {
      font-family: 'DrukCyr';
      font-weight: 500;
      font-size: 3rem;
      line-height: 97.5%;
      color: var(--gold);
      // backdrop-filter: blur(11.5px);
      text-transform: uppercase;
      transition: color 0.3s ease;

      &:hover {
        color: var(--maroon-3);

        .pp-limonad & {
          color: var(--yellow);
        }
      }

      &.is__active {
        color: var(--maroon-3);

        .pp-limonad & {
          color: var(--yellow);
        }
      }
    }
  }
}

/* Ссылка "Подробнее" */
.link {
  display: flex;
  align-items: center;
  gap: 1rem;
  transition: all 0.3s ease;

  @include md {
    gap: 0.5rem;
  }

  &:hover {
    color: var(--maroon-3);
  }

  i {
    --font-size: 2.4rem;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--white);
    transition: all 0.3s ease;

    font-size: 2.4rem;
    color: var(--graphite);
  }

  &--maroon-3 {
    color: var(--maroon-3);

    .offers__item:hover &,
    &:hover {
      color: var(--black);

      i {
        background-color: var(--black);
      }
    }

    i {
      background-color: var(--maroon-3);
      color: var(--white);
    }
  }
}

/* Стиль для параллакс картинок */
[data-animation="parallax-img"] {
  overflow: hidden;

  img {
    width: 100%;
    min-width: 100%;
    height: 120% !important;
    margin-top: -10%;
    object-fit: cover;

    @include sm {
      // height: 100% !important;
      // margin-top: unset;
    }
  }
}

/* Хлебные крошки */
.breadcrumbs {
  --breadcrumbs-gap: 1rem;

  background-color: var(--maroon-3);
  overflow: hidden;

  .container {
    padding: 0;
  }

  &__inner {
    padding: 1.7rem var(--container-padding) 1.8rem;
    width: 100%;
    overflow-x: auto;

    &::-webkit-scrollbar {
      width: 0;
      height: 0;
      padding: 0;
      margin: 0;
    }

    @include md {
      padding: 1.1rem var(--container-padding) 1.2rem;
    }

    @include sm {
      padding: 0.8rem var(--container-padding);
    }
  }

  ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--breadcrumbs-gap);
    width: fit-content;
  }

  li {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--breadcrumbs-gap);

    font-weight: 350;
    font-size: 1.6rem;
    color: var(--white);
    white-space: nowrap;

    @include md {
      font-size: 1.4rem;
    }

    @include sm {
      font-size: 1.2rem;
    }

    &:not(:last-child) {

      &::after {
        content: "|";
      }
    }
  }

  a {

    &:hover {
      text-decoration: underline;
    }
  }
}

.layer {
  background-image: url(./../images/temp/layer.png);
  background-color: var(--maroon);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  mix-blend-mode: overlay;

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}