@use './../mixins' as *;

[class^="__inner"],
[class*="__inner"] {
  height: 100%;
  position: relative;
  z-index: 3;
}

/* Главный общий блок */
.page {

  &::after {
    content: '';
    background-image: url(./../images/temp/bg-texture.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    mix-blend-mode: overlay;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  &__wrapper {
    width: 100%;
    height: 100%;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;

    .restriction {
      position: absolute;
      top: 4rem;
      right: var(--container-padding);

      @include md {
        display: none;
      }

      svg {
        display: block;
        width: 4.4rem;
        height: 3.7rem;
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    height: 100%;

    padding-bottom: 35.1rem;

    @include md {
      padding-bottom: 0;
    }
  }

  &__title {
    width: 100%;
    height: auto;

    &--first {

      @include md {
        display: none;
      }
    }

    &--second {
      display: none;
      max-width: 48.6rem;

      @include md {
        display: block;
      }

      @include sm {
        max-width: 27.7rem;
      }
    }
  }

  &__date {
    margin-top: 2rem;

    @include sm {
      margin-top: 1rem;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 3rem;

    @include sm {
      margin-top: 2rem;
    }
  }

  &__object {
    width: 100%;
    position: absolute;
    bottom: 4.1rem;
    left: 0;
    z-index: 2;

    img {
      width: auto;
      height: 100%;
      object-fit: contain;

      @include md {
        width: 100%;
        height: auto;
        object-fit: cover;
      }
    }
  }
}

/* Стили масок */
.mask {
  z-index: 1;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &--begin {
    width: 139rem;
    height: 168.2rem;

    position: absolute;
    top: -6.6rem;
    right: 13.5rem;
    bottom: 0;

    @include md {
      width: 186rem;
      height: 240.4rem;

      top: -8.6rem;
      right: -22.6rem;
    }

    @include sm {
      width: 140.3rem;
      height: 181.8rem;

      top: -3.6rem;
      right: -20.2rem;
    }
  }
}

.main {

  &__menu {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1.5rem;
    pointer-events: all;

    position: absolute;
    top: 50%;
    right: var(--container-padding);
    transform: translateY(-50%);

    @include md {
      display: none;
    }

    a {
      font-family: 'DrukCyr';
      font-weight: 500;
      font-size: 3rem;
      line-height: 97.5%;
      color: var(--gold);
      // backdrop-filter: blur(11.5px);
      text-transform: uppercase;
      transition: color 0.3s ease;

      &:hover {
        color: var(--maroon-3);
      }

      &.is__active {
        color: var(--maroon-3);
      }
    }
  }
}

/* Ссылка "Подробнее" */
.link {
  display: flex;
  align-items: center;
  gap: 1rem;
  transition: all 0.3s ease;

  @include md {
    gap: 0.5rem;
  }

  &:hover {
    color: var(--maroon-3);
  }

  i {
    --font-size: 2.4rem;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--white);
    transition: all 0.3s ease;

    font-size: 2.4rem;
    color: var(--graphite);
  }

  &--maroon-3 {
    color: var(--maroon-3);

    .offers__item:hover &,
    &:hover {
      color: var(--black);

      i {
        background-color: var(--black);
      }
    }

    i {
      background-color: var(--maroon-3);
      color: var(--white);
    }
  }
}

/* Стиль для параллакс картинок */
[data-animation="parallax-img"] {
  overflow: hidden;

  img {
    width: 100%;
    min-width: 100%;
    height: 120% !important;
    margin-top: -10%;
    object-fit: cover;

    @include sm {
      // height: 100% !important;
      // margin-top: unset;
    }
  }
}

/* Хлебные крошки */
.breadcrumbs {
  --breadcrumbs-gap: 1rem;

  background-color: var(--maroon-3);
  overflow: hidden;

  .container {
    padding: 0;
  }

  &__inner {
    padding: 1.7rem var(--container-padding) 1.8rem;
    // width: 100vw;
    width: 100%;
    overflow-x: auto;

    &::-webkit-scrollbar {
      width: 0;
      height: 0;
      padding: 0;
      margin: 0;
    }

    @include md {
      padding: 1.1rem var(--container-padding) 1.2rem;
    }

    @include sm {
      padding: 0.8rem var(--container-padding);
    }
  }

  ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--breadcrumbs-gap);
    width: fit-content;
  }

  li {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--breadcrumbs-gap);

    font-weight: 350;
    font-size: 1.6rem;
    color: var(--white);
    white-space: nowrap;

    @include md {
      font-size: 1.4rem;
    }

    @include sm {
      font-size: 1.2rem;
    }

    &:not(:last-child) {

      &::after {
        content: "|";
      }
    }
  }

  a {

    &:hover {
      text-decoration: underline;
    }
  }
}